<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evote</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="librerias/scss/estilos.css">
</head>
<body>
    <header>
        <div class="cabecera">
            <a href="/">
                <img src="../images/logo-unsa.svg" alt="UNSA" class="logo" href="/">
            </a>
            <div class="titulo">
                <h1><span class="text-big">Elecciones 2020</span></h1>
                <span>Sistema Digital de Votación <b>E-vote</b></span>
            </div>
        </div>
    </header>
    <main>
        <!-- inicio formulario busqueda -->
        <div class="container">
        <div class="vertical-center">
            <form class="formulario" method="post" action="/assistance" onsubmit="return validateForm()">
                <fieldset>
                    <legend>Registro de Asistencia</legend>
                    <label for="codigo">Ingrese su Clave Secreta</label>
                    <input id="codigo" name="usuario" type="text" placeholder="Clave Secreta" required autofocus>
                    <span class="mensaje-atencion"> Usted encontrará su clave secreta en su correo Institucional UNSA</span>
                </fieldset>
                <button class="boton-accion" type="submit">Ir a Votar</button>
            </form>
        </div>
        </div>
    </main>
</body>
</html>

<script>
    function validateForm(){
      console.log("validating form");
      return true;
    }
</script>