<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Evote</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="librerias/scss/estilos.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body>
    <header>
        <div class="cabecera">
            <a href="/">
                <img src="../images/logo-unsa.svg" alt="UNSA" class="logo" href="/">
            </a>
            <div class="titulo">
                <h1><span class="text-big">Elecciones 2020</span></h1>
                <span>Sistema Digital de Votación <b>E-vote</b></span>
            </div>
        </div>
    </header>
    <main>
        <!-- inicio formulario busqueda -->
        <div class="container">

            <form class="formulario" method="post" action="/vote" onsubmit="return validateForm()">
                <fieldset>
                    <legend>Emisión de Votación</legend>
                    <h1>ASAMBLEA UNIVERSITARIA</h1>
                    <H3>FACULTAD DE PRODUCCION Y SERVICIOS</H3>
                    <div class="marcacion-voto" id="lista_asamblea"> 
                        <!--input type="radio" name="lista" id="lista1">
                        <label for="lista1">Lista 1</label>
                
                        <input type="radio" name="lista" id="lista2">
                        <label for="lista2">Lista 2</label>
                
                        <input type="radio" name="lista" id="lista3">
                        <label for="lista3">Lista 3</label>

                        <input type="radio" name="lista" id="lista4">
                        <label for="lista4">Nulo/Blanco</label-->
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Emisión de Votación</legend>
                    <h1>CONSEJO DE FACULTAD</h1>
                    <H3>FACULTAD DE PRODUCCION Y SERVICIOS</H3>
                    <div class="marcacion-voto" id="lista_consejo"> 
                        <!--input type="radio" name="lista_asamblea" id="lista_asam1">
                        <label for="lista_asam1">Lista 1</label>
                
                        <input type="radio" name="lista_asamblea" id="lista_asam2">
                        <label for="lista_asam2">Lista 2</label>
                
                        <input type="radio" name="lista_asamblea" id="lista_asam3">
                        <label for="lista_asam3">Lista 3</label>

                        <input type="radio" name="lista_asamblea" id="lista_asam4">
                        <label for="lista_asam4">Nulo/Blanco</label-->
                    </div>

                </fieldset>

                <button class="boton-accion" type="submit">VOTAR</button>
            </form>

        </div>
    </main>
</body>
</html>

<script>



    $(document).ready(function() {
        //alert("hello");
        init_list('lista_asamblea',1,null);
        init_list('lista_consejo',2,1);
    });

    function init_list(id_list,id_tipo_proceso,id_facultad){
        var mylist = $('#'+id_list);

        var data = JSON.parse($.ajax({
              type: "POST",
              dataType: "json",
              url: "/get-electoral-list",
              data: {id_tipo_proceso: id_tipo_proceso,id_facultad:id_facultad},
              cache: false,
              async: false
        }).responseText);
        
        data.forEach(function (list) {
            console.log(list);
            var opt = 
            "<input type='radio' name='"+id_list+"' id='"+id_list+"-"+list.nombre+"'>"+
            "<label for='"+id_list+"-"+list.nombre+"'>"+list.nombre+ "</label>";

            mylist.append(opt);
        });
    }

    function validateForm(){
      console.log("validating form");
      return true;
    }


</script>