
  <!--footer class="main-footer" id="footer">
    <div class="pull-right hidden-xs">
      <b><a style="color:white" href="https://www.facebook.com/smartbus.site/">Smartech-AQP</a></b> 
    </div>
    <strong> <a  style="color:white" href="https://www.facebook.com/smartbus.site/">Canarios Transporte Arequipa</a></strong> 
  
  </footer-->


  <style>
  
  #footer {
   /*
   position:absolute;
   bottom:0;
   width:83%;*/
   height:50px;   /* Height of the footer */
   background: #d33724;
}
  </style>