<header class="main-header" style="position: fixed;  width: 100%;  height: 40px;" >
    <!-- Logo -->
    <a  class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Evote</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Evote-UNSA</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu" >
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->

          <!--li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
              
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li-->
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../dist/img/urna.png" class="user-image" alt="User Image">
              <span class="hidden-xs" id="name_header1"  style="font-size: 17px" >Proceso activo</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                
                <img src="../dist/img/urna.png" class="img-circle" alt="User Image">
                <!--span  id="name_header2"  style="font-size: 20px; color:white" >Undefined</span-->
              </li>

              <!--li class="user-header">
                <span  id="name_header2"  style="font-size: 20px; color:white" >Undefined</span>
                <span id="name_header_company"  style="font-size: 20px; color:white" >Undefined</span>    
              </li-->

              <div class="text-center" style="background-color: #589ee0" >
                <p  id="name_header2"  style="font-size: 18px; color:white" >NOMBRE PROCESO</p>
                <p id="name_header_company"  style="font-size: 16px; color:white" >FECHA</p>
        
              
              
              <!-- Menu Footer-->
              <li class="user-footer" style="background-color: #6ab7ff ">
                <div align=center >
                  <a href="/admin/logout" style="background-color:red" class="btn btn-danger btn-flat">HABILITAR PROCESO</a>
                </div>
              </li>
            </div>
            </ul>
          </li>
          
        </ul>
      </div>
    </nav>
  </header>

<!-- jQuery 2.2.3 -->
<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>

</script>
