<aside class="main-sidebar" style="position: fixed; height: 100%; ">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar"  >
      <!-- Sidebar user panel -->
      <div class="user-panel" align="center" >
        <div class="pull-left image" >
          <img src="../dist/img/icon_admin3.png" class="img-circle" alt="User Image" width="55" height="55">
        </div>
        <div class="info" style=" color:#fff;line-height: 1; padding: 5px 5px 5px 15px;">
          <p id="name_panel_left" style="font-size: 18px"> Undefined </p>
          <p style="font-size: 15px" id="name_company_panel_left"> <!--i class="fa fa-circle text-success"></i--> Undefined</p>
        </div>
       
      </div>
      <!-- search form -->
      <!--form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form-->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->



      <ul class="sidebar-menu">
        <li class="header" align="center" style="color:#3c8dbc; font-size: 14px"> OPCIONES</li>
        <li class="treeview">
        <a href="/admin/panel" id='resume'>
            <i class="fa fa-chart-line"></i> <span>RESUMEN</span>
            <span class="pull-right-container">
              <!--i class="fa fa-angle-left pull-right"></i-->
            </span>
          </a>
        </li>
         
        <li class="treeview" id='electoral_process'>
        <a href="/admin/electoral-process">
            <i class="fa fa-clock"></i> <span> PROCESO ELECTORAL </span>
            <span class="pull-right-container">
                <!--i class="fa fa-angle-left pull-right"></i-->
            </span>
            </a>
        </li> 

        <li class="treeview" id='election_type'>
          <a href="/admin/process-type">
            <i class="fa fa-person-booth"></i> <span> TIPO ELECCION </span>
              <span class="pull-right-container">
                  <!--i class="fa fa-angle-left pull-right"></i-->
              </span>
              </a>
          </li> 
          
        <li class="treeview" id='electoral_list'>
          <a href="/admin/electoral-list">
              <i class="fa fa-list-ol"></i> <span> LISTA ELECTORAL </span>
              <span class="pull-right-container">
                  <!--i class="fa fa-angle-left pull-right"></i-->
              </span>
              </a>
          </li> 

          <li class="treeview">
            <a href="/admin/padron-activo">
                <i class="fa fa-paper-plane"></i> <span> PADRON ACTIVO </span>
                <span class="pull-right-container">
                    <!--i class="fa fa-angle-left pull-right"></i-->
                </span>
                </a>
          </li> 

          <li class="treeview">
            <a href="/admin/logout">
                <i class="fa fa-power-off"></i> <span> CERRAR SESION </span>
                <span class="pull-right-container">
                   
                </span>
            </a>
          </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>


function GetIdCompany(){
    return JSON.parse($.ajax({
        type: "GET",
        url: "/admin/get_info_user",
        cache: false,
        async: false
    }).responseText);
 }

//console.log("Changing name left panel");
var data = GetIdCompany();
//console.log(data)
/*
var data = {};
data.username = "juan";
data.company_name = "juanito";
*/


  /*
  function GetIdCompany(){
    return JSON.parse($.ajax({
        type: "GET",
        url: "/admin/get_info_user",
        cache: false,
        async: false
    }).responseText);
  }
  //console.log("Changing name supervisor");
  var data = GetIdCompany();
  //console.log(data);
  */

  //console.log(data);
  
  $('#name_header1').text(data.username);
  $('#name_header2').text(data.username);
  $('#name_header_company').text(data.name);

  $('#name_panel_left').text(data.username);
  if(data.rol == '0'){
    $('#name_company_panel_left').text('ADMIN');
  }else{
    $('#name_company_panel_left').text('CONTROLADOR');
    $('#electoral_process').hide();
    $('#election_type').hide();
  }



</script>
